In [78]:
import pandas as pd

### Read the Excel file using pandas :-  
```pd.read_excel( file_path );```

This will reaturn a **Dataframe** object

In [79]:
df = pd.read_excel("/Users/akhilsharma/GeekSpace/DATASET/Attribute DataSet.xlsx", header= None
                    , names=["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N",])

In [80]:
type(df)

pandas.core.frame.DataFrame

In [81]:
df

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

#### ```df.head(num)``` - number of record you want to see from **START**.

In [76]:
df.head(5)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1

#### ```df.tail(num)``` num  of record you want to see from **Bottom**.

In [97]:
df.tail(5)

     Age  operationYr  Nodes  status
301   75           62      1       1
302   76           67      0       1
303   77           65      3       1
304   78           65      1       2
305   83           58      2       2

### Read the CSV file using pandas :-  
```pd.read_csv( file_path );```

This will reaturn a **Dataframe** object

In [105]:
pd.read_csv("/Users/akhilsharma/GeekSpace/DATASET/haberman.csv")

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [107]:
pd.read_csv("/Users/akhilsharma/GeekSpace/DATASET/haberman.csv", header= None, names = ["Age", 'operationYr', "Nodes", "status"], )

     Age  operationYr  Nodes  status
0     30           64      1       1
1     30           62      3       1
2     30           65      0       1
3     31           59      2       1
4     31           65      4       1
..   ...          ...    ...     ...
301   75           62      1       1
302   76           67      0       1
303   77           65      3       1
304   78           65      1       2
305   83           58      2       2

[306 rows x 4 columns]

### Read The CSV data **seperated by ```@```**

In [110]:
pd.read_csv("/Users/akhilsharma/GeekSpace/DATASET/haberman1.csv", 
            header= None, names = ["Age", 'operationYr', "Nodes", "status"], sep='@')

     Age  operationYr  Nodes  status
0     30           64      1       1
1     30           62      3       1
2     30           65      0       1
3     31           59      2       1
4     31           65      4       1
..   ...          ...    ...     ...
301   75           62      1       1
302   76           67      0       1
303   77           65      3       1
304   78           65      1       2
305   83           58      2       2

[306 rows x 4 columns]

In [111]:
pd.read_csv("https://raw.githubusercontent.com/curran/data/gh-pages/amitkaps/pincodes/pincode.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf8 in position 55738: invalid start byte